<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finder.patent.tech.mapper">

    <select id="selectTechField" resultType="com.finder.patent.config.CamelMap">
        <![CDATA[
        /* com.finder.patent.tech.mapper.selectTechField */
        SELECT A.TechGroupNo AS TECH_GROUP_NO
             , A.TechGroupNm AS TECH_GROUP_NM
             , B.TechFieldNo AS TECH_FIELD_NO
             , B.TechFieldNm AS TECH_FIELD_NM
             , CONCAT('/tech/', B.TechFieldNo) AS URL
          FROM PATENT.TechGroup A
         INNER JOIN PATENT.TechField B
            ON A.TechGroupNo = B.TechGroupNo
         WHERE A.TechGroupNo < 7
        ]]>
    </select>

    <select id="selectTechItems" resultType="com.finder.patent.config.CamelMap">
        <![CDATA[
        /* com.finder.patent.tech.mapper.selectTechItems */
        SELECT A.TechFieldNm AS TECH_FIELD_NM
             , A.TechFieldNo AS TECH_FIELD_NO
             , B.TechItemNo AS TECH_ITEM_NO
             , B.TechItemNm AS TECH_ITEM_NM
          FROM  PATENT.TechField A
         INNER JOIN PATENT.TechItem B
            ON A.TechFieldNo = B.TechFieldNo
         WHERE A.TechFieldNo = #{techFieldNo }
         ORDER BY TECH_ITEM_NO
        ]]>
    </select>

    <select id="selectTechEtcs" resultType="com.finder.patent.config.CamelMap">
        <![CDATA[
        /* com.finder.patent.tech.mapper.selectTechEtcs */
        SELECT A.TechFieldNo AS TECH_FIELD_NO
             , A.TechFieldNm AS TECH_FIELD_NM
             , A.TechFieldType AS TECH_FIELD_TYPE
             , B.TechItemNo AS TECH_ITEM_NO
             , B.TechItemNm AS TECH_ITEM_NM
          FROM PATENT.TechField A
         INNER JOIN PATENT.TechItem B
            ON A.TechFieldNo = B.TechFieldNo
         WHERE TechGroupNo = 7
        ]]>
    </select>

    <!-- 기술분류 상세 IPC   -->
    <select id="selectPatentListByTechDetail" resultType="com.finder.patent.config.CamelMap">
        <![CDATA[
        /* com.finder.patent.tech.mapper.selectPatentListByTechDetail */
        SELECT A.TechGroupNo    AS TECH_GROUP_NO
             , A.TechGroupNm    AS TECH_GROUP_NM
             , B.TechFieldNo    AS TECH_FIELD_NO
             , B.TechFieldNm    AS TECH_FIELD_NM
             , C.TechItemNo     AS TECH_ITEM_NO
             , C.TechItemNm     AS TECH_ITEM_NM
             , D.MG_IPCNo       AS MG_IPC_NO
             , D.MG_IPCCd       AS MG_IPC_CD
             , E.AppNo          AS APP_NO
             , E.AppDate        AS APP_DATE
             , E.InvTitle       AS INV_TITLE
             , E.appNm          AS APP_NM
             , E.RegNo          AS REG_NO
             , E.RegDate        AS REG_DATE
             , E.EstPrice       AS EST_PRICE
             , E.ContactNum     AS CONTACT_NUM
          FROM PATENT.TechGroup A
         INNER JOIN PATENT.TechField B
            ON A.TechGroupNo = B.TechGroupNo
         INNER JOIN PATENT.TechItem C
            ON B.TechFieldNo = C.TechFieldNo
         INNER JOIN PATENT.MG_IPC D
            ON C.TechItemNo = D.TechItemNo
         INNER JOIN PATENT.PatentList E
            ON E.IPC12 = D.MG_IPCCd
         WHERE A.TechGroupType ='MGSC'
           AND B.TechFieldNo = #{techFieldNo } -- PARAM 1 techFieldNo
           AND C.TechItemNo = #{techItemNo } -- PARAM 2 techItemNo
           ]]>
        <if test="orgType == 2">
           AND (E.OrgNo = 2 OR E.OrgNo = 4)
        </if>
        <if test="orgType == 5">
            AND E.OrgNo = 5
        </if>
        <if test="orgType == 6">
            AND E.OrgNo = 6
        </if>
        <if test="orgType == 1">
            AND E.OrgNo = 1
        </if>
        <if test="orgType == 3">
            AND E.OrgNo = 3
        </if>

         ORDER BY D.MG_IPCNo
             , D.MG_IPCCd
             , E.AppNo
         LIMIT #{from }, #{size }
    </select>

    <!-- 기술분류 광범위 IPC  -->
    <select id="selectPatentListByTechRange" resultType="com.finder.patent.config.CamelMap">
        <![CDATA[
        /* com.finder.patent.tech.mapper.selectPatentListByTechRange */
        SELECT A.TechGroupNo    AS TECH_GROUP_NO
             , A.TechGroupNm    AS TECH_GROUP_NM
             , B.TechFieldNo    AS TECH_FIELD_NO
             , B.TechFieldNm    AS TECH_FIELD_NM
             , C.TechItemNo     AS TECH_ITEM_NO
             , C.TechItemNm     AS TECH_ITEM_NM
             , D.SC_IPCNo       AS MG_IPC_NO
             , D.SC_IPCCd       AS MG_IPC_CD
             , E.AppNo          AS APP_NO
             , E.AppDate        AS APP_DATE
             , E.InvTitle       AS INV_TITLE
             , E.appNm          AS APP_NM
             , E.RegNo          AS REG_NO
             , E.RegDate        AS REG_DATE
             , E.EstPrice       AS EST_PRICE
             , E.ContactNum     AS CONTACT_NUM
          FROM PATENT.TechGroup A
         INNER JOIN PATENT.TechField B
	        ON A.TechGroupNo = B.TechGroupNo
         INNER JOIN PATENT.TechItem C
            ON B.TechFieldNo = C.TechFieldNo
         INNER JOIN PATENT.SC_IPC D
            ON C.TechItemNo = D.TechItemNo
         INNER JOIN PATENT.PatentList E
            ON E.IPC1 = D.SC_IPCCd
         WHERE A.TechGroupType ='MGSC'
           AND B.TechFieldNo = #{techFieldNo } -- PARAM 1 techFieldNo
           AND C.TechItemNo = #{techItemNo } -- PARAM 2 techItemNo
       ]]>
        <if test="orgType == 2">
           AND (E.OrgNo = 2 OR E.OrgNo = 4)
        </if>
        <if test="orgType == 5">
           AND E.OrgNo = 5
        </if>
        <if test="orgType == 6">
           AND E.OrgNo = 6
        </if>
        <if test="orgType == 1">
           AND E.OrgNo = 1
        </if>
        <if test="orgType == 3">
           AND E.OrgNo = 3
        </if>
         ORDER BY D.SC_IPCNo
             , D.SC_IPCCd
         LIMIT #{from }, #{size }
    </select>

    <!-- 기타 기술분류 상세 IPC   -->
    <select id="selectPatentListByTechEtcDetail" resultType="com.finder.patent.config.CamelMap">
        <![CDATA[
        /* com.finder.patent.tech.mapper.selectPatentListByTechEtcDetail */
        SELECT A.TechGroupNo    AS TECH_GROUP_NO
             , A.TechGroupNm    AS TECH_GROUP_NM
             , B.TechFieldNo    AS TECH_FIELD_NO
             , B.TechFieldNm    AS TECH_FIELD_NM
             , C.TechItemNo     AS TECH_ITEM_NO
             , C.TechItemNm     AS TECH_ITEM_NM
             , D.MG_IPCNo       AS MG_IPC_NO
             , D.MG_IPCCd       AS MG_IPC_CD
             , E.AppNo          AS APP_NO
             , E.AppDate        AS APP_DATE
             , E.InvTitle       AS INV_TITLE
             , E.appNm          AS APP_NM
             , E.RegNo          AS REG_NO
             , E.RegDate        AS REG_DATE
             , E.EstPrice       AS EST_PRICE
             , E.ContactNum     AS CONTACT_NUM
          FROM PATENT.TechGroup A
         INNER JOIN PATENT.TechField B
	        ON A.TechGroupNo = B.TechGroupNo
         INNER JOIN PATENT.TechItem C
            ON B.TechFieldNo = C.TechFieldNo
         INNER JOIN PATENT.MG_IPC D
            ON C.TechItemNo = D.TechItemNo
         INNER JOIN PATENT.PatentList E
            ON E.IPC1 = D.MG_IPCCd
         WHERE A.TechGroupType ='ETC0'
           AND B.TechFieldNo = #{techFieldNo }  -- PARAM 1 techFieldNo
           AND C.TechItemNo = #{techItemNo } -- PARAM 2 techItemNo
        ]]>
        <if test="orgType == 2">
           AND (E.OrgNo = 2 OR E.OrgNo = 4)
        </if>
        <if test="orgType == 5">
           AND E.OrgNo = 5
        </if>
        <if test="orgType == 6">
           AND E.OrgNo = 6
        </if>
        <if test="orgType == 1">
           AND E.OrgNo = 1
        </if>
        <if test="orgType == 3">
           AND E.OrgNo = 3
        </if>
         ORDER BY D.MG_IPCNo
             , D.MG_IPCCd
             , E.AppNo
         LIMIT #{from }, #{size }
    </select>

    <!-- 기타 기술분류 광범위 IPC  -->
    <select id="selectPatentListByTechEtcRange" resultType="com.finder.patent.config.CamelMap">
        <![CDATA[
        /* com.finder.patent.tech.mapper.selectPatentListByTechEtcRange */
        SELECT A.TechGroupNo    AS TECH_GROUP_NO
             , A.TechGroupNm    AS TECH_GROUP_NM
             , B.TechFieldNo    AS TECH_FIELD_NO
             , B.TechFieldNm    AS TECH_FIELD_NM
             , C.TechItemNo     AS TECH_ITEM_NO
             , C.TechItemNm     AS TECH_ITEM_NM
             , D.SC_IPCNo       AS MG_IPC_NO
             , D.SC_IPCCd       AS MG_IPC_CD
             , E.AppNo          AS APP_NO
             , E.AppDate        AS APP_DATE
             , E.InvTitle       AS INV_TITLE
             , E.appNm          AS APP_NM
             , E.RegNo          AS REG_NO
             , E.RegDate        AS REG_DATE
             , E.EstPrice       AS EST_PRICE
             , E.ContactNum     AS CONTACT_NUM
          FROM PATENT.TechGroup A
         INNER JOIN PATENT.TechField B
        	ON A.TechGroupNo = B.TechGroupNo
         INNER JOIN PATENT.TechItem C
            ON B.TechFieldNo = C.TechFieldNo
         INNER JOIN PATENT.SC_IPC D
            ON C.TechItemNo = D.TechItemNo
         INNER JOIN PATENT.PatentList E
            ON LEFT(E.IPC1,3) = D.SC_IPCCd
         WHERE A.TechGroupType ='ETC0'
           AND B.TechFieldNo = #{techFieldNo }  -- PARAM 1 techFieldNo
           AND C.TechItemNo = #{techItemNo } -- PARAM 2 techItemNo
       ]]>
        <if test="orgType == 2">
           AND (E.OrgNo = 2 OR E.OrgNo = 4)
        </if>
        <if test="orgType == 5">
           AND E.OrgNo = 5
        </if>
        <if test="orgType == 6">
           AND E.OrgNo = 6
        </if>
        <if test="orgType == 1">
           AND E.OrgNo = 1
        </if>
        <if test="orgType == 3">
           AND E.OrgNo = 3
        </if>
         ORDER BY D.SC_IPCNo
             , D.SC_IPCCd
         LIMIT #{from }, #{size }
    </select>


    <select id="selectPatentListByTechDetailCount" resultType="Integer">
        <![CDATA[
        /* com.finder.patent.tech.mapper.selectPatentListByTechDetailCount */
        SELECT COUNT(*) AS TOTAL_COUNT
          FROM PATENT.TechGroup A
         INNER JOIN PATENT.TechField B
            ON A.TechGroupNo = B.TechGroupNo
         INNER JOIN PATENT.TechItem C
            ON B.TechFieldNo = C.TechFieldNo
         INNER JOIN PATENT.MG_IPC D
            ON C.TechItemNo = D.TechItemNo
         INNER JOIN PATENT.PatentList E
            ON E.IPC12 = D.MG_IPCCd
         WHERE A.TechGroupType ='MGSC'
           AND B.TechFieldNo = #{techFieldNo } -- PARAM 1 techFieldNo
           AND C.TechItemNo = #{techItemNo } -- PARAM 2 techItemNo
        ]]>
        <if test="orgType == 2">
           AND (E.OrgNo = 2 OR E.OrgNo = 4)
        </if>
        <if test="orgType == 5">
           AND E.OrgNo = 5
        </if>
        <if test="orgType == 6">
           AND E.OrgNo = 6
        </if>
        <if test="orgType == 1">
           AND E.OrgNo = 1
        </if>
        <if test="orgType == 3">
           AND E.OrgNo = 3
        </if>
    </select>

    <select id="selectPatentListByTechRangeCount" resultType="Integer">
        <![CDATA[
        /* com.finder.patent.tech.mapper.selectPatentListByTechRangeCount */
        SELECT COUNT(*) AS TOTAL_COUNT
          FROM PATENT.TechGroup A
         INNER JOIN PATENT.TechField B
	        ON A.TechGroupNo = B.TechGroupNo
         INNER JOIN PATENT.TechItem C
            ON B.TechFieldNo = C.TechFieldNo
         INNER JOIN PATENT.SC_IPC D
            ON C.TechItemNo = D.TechItemNo
         INNER JOIN PATENT.PatentList E
            ON E.IPC1 = D.SC_IPCCd
         WHERE A.TechGroupType ='MGSC'
           AND B.TechFieldNo = #{techFieldNo } -- PARAM 1 techFieldNo
           AND C.TechItemNo = #{techItemNo } -- PARAM 2 techItemNo
        ]]>
        <if test="orgType == 2">
           AND (E.OrgNo = 2 OR E.OrgNo = 4)
        </if>
        <if test="orgType == 5">
           AND E.OrgNo = 5
        </if>
        <if test="orgType == 6">
           AND E.OrgNo = 6
        </if>
        <if test="orgType == 1">
           AND E.OrgNo = 1
        </if>
        <if test="orgType == 3">
           AND E.OrgNo = 3
        </if>
    </select>

    <select id="selectPatentListByTechEtcDetailCount" resultType="Integer">
        <![CDATA[
        /* com.finder.patent.tech.mapper.selectPatentListByTechEtcDetailCount */
        SELECT COUNT(*) AS TOTAL_COUNT
          FROM PATENT.TechGroup A
         INNER JOIN PATENT.TechField B
	        ON A.TechGroupNo = B.TechGroupNo
         INNER JOIN PATENT.TechItem C
            ON B.TechFieldNo = C.TechFieldNo
         INNER JOIN PATENT.MG_IPC D
            ON C.TechItemNo = D.TechItemNo
         INNER JOIN PATENT.PatentList E
            ON E.IPC1 = D.MG_IPCCd
         WHERE A.TechGroupType ='ETC0'
           AND B.TechFieldNo = #{techFieldNo }  -- PARAM 1 techFieldNo
           AND C.TechItemNo = #{techItemNo } -- PARAM 2 techItemNo
        ]]>
        <if test="orgType == 2">
           AND (E.OrgNo = 2 OR E.OrgNo = 4)
        </if>
        <if test="orgType == 5">
           AND E.OrgNo = 5
        </if>
        <if test="orgType == 6">
           AND E.OrgNo = 6
        </if>
        <if test="orgType == 1">
           AND E.OrgNo = 1
        </if>
        <if test="orgType == 3">
           AND E.OrgNo = 3
        </if>
    </select>

    <select id="selectPatentListByTechEtcRangeCount" resultType="Integer">
        <![CDATA[
        /* com.finder.patent.tech.mapper.selectPatentListByTechEtcRangeCount */
        SELECT COUNT(*) AS TOTAL_COUNT
          FROM PATENT.TechGroup A
         INNER JOIN PATENT.TechField B
        	ON A.TechGroupNo = B.TechGroupNo
         INNER JOIN PATENT.TechItem C
            ON B.TechFieldNo = C.TechFieldNo
         INNER JOIN PATENT.SC_IPC D
            ON C.TechItemNo = D.TechItemNo
         INNER JOIN PATENT.PatentList E
            ON LEFT(E.IPC1,3) = D.SC_IPCCd
         WHERE A.TechGroupType ='ETC0'
           AND B.TechFieldNo = #{techFieldNo }  -- PARAM 1 techFieldNo
           AND C.TechItemNo = #{techItemNo } -- PARAM 2 techItemNo
         ]]>
        <if test="orgType == 2">
           AND (E.OrgNo = 2 OR E.OrgNo = 4)
        </if>
        <if test="orgType == 5">
           AND E.OrgNo = 5
        </if>
        <if test="orgType == 6">
           AND E.OrgNo = 6
        </if>
        <if test="orgType == 1">
           AND E.OrgNo = 1
        </if>
        <if test="orgType == 3">
           AND E.OrgNo = 3
        </if>
    </select>

    <select id="getFieldAndItem" parameterType="String" resultType="com.finder.patent.config.CamelMap">
        <![CDATA[
        /* com.finder.patent.tech.mapper.getFieldAndItem */
        SELECT A.TechGroupNo AS TECH_GROUP_NO
             , A.TechGroupNm AS TECH_GROUP_NM
             , B.TechFieldNo AS TECH_FIELD_NO
             , B.TechFieldNm AS TECH_FIELD_NM
             , C.TechItemNo AS TECH_ITEM_NO
             , C.TechItemNm AS TECH_ITEM_NM
             , D.SC_IPCNo AS SC_IPC_NO
             , D.SC_IPCCd AS SC_IPC_CD
          FROM PATENT.TechGroup A
         INNER JOIN PATENT.TechField B
            ON A.TechGroupNo = B.TechGroupNo
         INNER JOIN PATENT.TechItem C
            ON B.TechFieldNo = C.TechFieldNo
         INNER JOIN PATENT.SC_IPC D
            ON C.TechItemNo = D.TechItemNo
         INNER JOIN (SELECT IPC1
                       FROM PATENT.PatentList
                      WHERE AppNo = #{number } ) E
            ON D.SC_IPCCd = E.IPC1
         WHERE 1=1
         LIMIT 1
        ]]>
    </select>

</mapper>
